.table_1{
    background-color: yellow;
    border-collapse: collapse;
    border-bottom: dotted red;
    margin-block: 50px;  
    width: 1000px;
    height: 100px;

}

.table_1 th{
    color: red;   
    font-style: italic;
    
}
.table_1 th,td{
    border: 1px dotted black;
}
#palabra{
    font-size: 40px;
}
p{
    font-family: 'Franklin Gothic Medium';
    color: deeppink;
    font-size: 25px;

}