/*PUNTO 7*/
.p7_nav{
    background-color: hsl(292, 39%, 77%);
    height: 50 px;
    width: 500px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 7px;
    border-radius: 50px;
}
.p7_nav ul {
    display: inline-flex;
}
.p7_nav li {
    padding: 12px;
    list-style: none;
}
.p7_nav li:hover {
    background-color: #0000ff;
}
.p7_nav a {
    color: hsl(0, 0%, 100%);
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}