@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');

body{
    background-color: #f8f7b2;
    text-align: center;
    margin-top: 50px;
    
}
#titulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    color: #7700ff;
    font-weight: bold;
    font-family: 'Kablammo', cursive;
}

#blue{
    font-size: 50px;
    color: #2600ff;
    font-weight: bold;
}    

#red{
    font-size: 50px;
    color: #ff0000;
    font-weight: bold;
}

.box_icon img {
    width: 5%;
    margin top: 5%;

}
    